@import url('../css/font.css');
html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
a
{
    text-decoration: none; 
    color: #3f4954;
}

:root{
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    --sky:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Livvic:'Livvic',cursive;
    --Josephin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
}
ul
{
    list-style-type: none; 
}
.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:var(-text-gray);
}
/*----------------------------Toggle button-----------------------------------*/

.nav .toggle-collapse
{
    cursor: pointer;
    position: absolute;
    display: none;
    top: 0%;
    width: 90%; 

}
.nav .toggle-collapse .toggle-icons
{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem;
}
.nav .toggle-collapse .toggle-icons
{
    font-size: 1.4rem;

}

.collapse{
    height:30rem;
}


/*--------------------xx--------Toggle button---------------xx--------------------*/


/* --------------navbar ------------- */

.nav
{
    background: white;
    padding:0 2rem ;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu
{
    justify-content: space-between;
}

.nav .nav-items
{ 
 display: flex;
 margin : 0;

}

.nav .nav-items .nav-link
{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;  
  font-family: var(--Abel);
}
.nav .nav-items .nav-link:hover
{
    background-color: var(--midnight );

}
.nav .nav-items .nav-link:hover a{
    color: white;
}

.nav .nav-brand a
{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend) ; 
    color:var(-text-gray);
    font-size: 1.6rem;
}
.nav .social
{
    padding: 1.5rem 0;
}
.nav .social i{
    padding: 0 ,0.2rem;
}
.nav .social i:hover
{
    color: #a1c4fd;
}
/*---------**navbar**----------------*/


@media only screen and (max-width:750px)
{
    .nav .nav-menu{
        flex-direction:column;
    }
    .nav .toggle-collapse
    {
        display: initial;

    }
} 
